/* Container de toda a informação inicial */

.about-content {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #f3f3d6;
    padding: 50px;
    position: relative;
}

/* Wrapper de todo o conteúdo (texto) da esquerda */

.text-wrapper p {
    align-self: center;
    position: relative;
    top: -10px;
    left: 20px;
    font-family: cursive;
    /* filter: blur(5px); */
}

.text-wrapper h1 {
    position: relative;
    top: -20px;
    left: 75px;
    display: flex;
    align-self:flex-start;
    font-size: 45px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    letter-spacing: 1px;
    font-family: cursive;
    /* font-weight: lighter; */
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 5px;
}

.highlight {
    font-size: 45px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: rgb(255, 196, 0);
    font-family: cursive;
    /* color: white; */
    margin-left: -4px;
}

/* Conteúdo de metade da direita */

.right-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    position: relative;
}

/* Images */

.Leagueoflegends {
    width: 160px;
    height: 160px;
    filter: saturate(1.6) contrast(1.1) brightness(1.05);
    position: absolute;
    top: -180px;
    right: 30px;
    mix-blend-mode: multiply;
}

.Valorant {
    width: 160px;
    height: 160px;
    filter: saturate(1.6) contrast(1.1) brightness(1.05);
    position: absolute;
    top: -90px;
    right: -60px;
}

.CS2 {
    width: 160px;
    height: 160px;
    filter: saturate(1.6) contrast(1.1) brightness(1.05);
    position: absolute;
    mix-blend-mode: multiply;
    right: 60px;
    top: 30px;
}

.React {
    width: 220px;
    height: 140px;
    filter: saturate(1.6) contrast(1.1) brightness(1.05);
    position: absolute;
    mix-blend-mode: multiply;
    top: -140px;
    left: -10px;
}

.HTML {
    width: 120px;
    height: 120px;
    filter: saturate(1.6) contrast(1.1) brightness(1.05);
    position: absolute;
    mix-blend-mode: multiply;
    top: -70px;
    left: 260px;
}

.CSS {
    width: 120px;
    height: 120px;
    filter: saturate(1.6) contrast(1.1) brightness(1.05);
    position: absolute;
    mix-blend-mode: multiply;
    top: 20px;
    left: 110px;
}

/* Animations on Images */

.right-content img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* .right-content img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
} */

/* .right-content img:hover {
    transform: translateY(-10px);
} */

/* .right-content img:hover {
    transform: scale(1.1) rotate(5deg);
} */

.right-content img:hover {
    filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.7));
    transform: scale(1.05);
}



